body{
    background-color: black;
    color: chartreuse;
    font: 200;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.heading{
    background-color: crimson;
    color: cyan;
}
table{
    margin: auto;
    width: 70%;
}
th{
    background-color: darkgoldenrod;
    color: darkred;
    font-size: large;
    font-family: monospace;
}
table,th,td{
   
    border: 2px solid white;

}
th,td{
    padding: 20px;
}
.nav{
    display: flex;
    background-color: lightseagreen;
    justify-content: space-between;
    padding: 15px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: black;
     font-size: 22px;

}
.nav-links div{
    background-color: teal;
    padding: 5px 10px;


}
.list{
    text-align: left;
    margin: auto;
    width: 30%;
}
